/* Variables */
:root {
  --basic-black: #323232;
  --dark-grey: #5a5a5a;
  --grey: #999999;
  --light-grey: #EDEDED;
  --lighten-grey: #F8F7F4;
  --basic-white: #ffffff;
  --basic-white-20: rgba(255, 255, 255, 0.2);
  --basic-white-40: rgba(255, 255, 255, 0.4);
  --basic-white-80: rgba(255, 255, 255, 0.8);
  --basic-red: #e84d37;
  --dark-red: #D07058;
  --dark-pink: #3B0B24;
  --basic-red-light: #FFBC9E;
  --light-pink: #FBDED7;
  --pink: #F6B5A5;
  --beige: #f5f5dc;
  --light-green: #849D8F;
  --light-blue: #8996A6;
  --basic-brown: #9D8B84;
  --dark-brown: #3B0B17;
}

/* Global */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--light-green);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 27px;
  padding-left: 27px;
  position: relative;
}

.grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
  margin-left: -13px;
  margin-right: -13px;
}

.grid-row_align_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-row_without_padding {
  padding: 0;
}

.col-1 {
  width: 25%;
  padding-left: 13px;
  padding-right: 13px;
}

.col-2 {
  width: 50%;
  padding-left: 13px;
  padding-right: 13px;
}

.col-3 {
  width: 75%;
  padding-left: 13px;
  padding-right: 13px;
}

.button-red {
  display: inline-block;
  vertical-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: var(--basic-white);
  background: -webkit-gradient(linear, left top, left bottom, from(#F26843), to(#E74A35));
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 50px;
}

.button-red:focus, .button-red:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, left bottom, from(#F26843), to(#E74A35));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  -webkit-box-shadow: 0px 2px 2px #AC1000;
          box-shadow: 0px 2px 2px #AC1000;
  cursor: pointer;
  outline: none;
}

.button-red:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left top, left bottom, from(#F26843), to(#E74A35));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  -webkit-box-shadow: inset 0px 2px 2px #942718;
          box-shadow: inset 0px 2px 2px #942718;
  cursor: pointer;
  outline: none;
}

.link-white {
  color: var(--basic-white);
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.2);
          text-decoration: underline rgba(255, 255, 255, 0.2);
}

.link-white:focus, .link-white:hover {
  color: var(--basic-red-light);
  -webkit-text-decoration: underline rgba(255, 188, 158, 0.3);
          text-decoration: underline rgba(255, 188, 158, 0.3);
}

.basic-input {
  -webkit-box-shadow: inset 1px 1px 0 rgba(178, 178, 178, 0.52), inset -1px -1px 0 rgba(178, 178, 178, 0.52), inset 1px -1px 0 rgba(178, 178, 178, 0.52), inset -1px 1px 0 rgba(178, 178, 178, 0.52);
          box-shadow: inset 1px 1px 0 rgba(178, 178, 178, 0.52), inset -1px -1px 0 rgba(178, 178, 178, 0.52), inset 1px -1px 0 rgba(178, 178, 178, 0.52), inset -1px 1px 0 rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  border: none;
  background-color: var(--basic-white);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: var(--basic-black);
}

.basic-input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--grey);
}

.basic-input:-ms-input-placeholder {
  font-weight: 400;
  color: var(--grey);
}

.basic-input::-ms-input-placeholder {
  font-weight: 400;
  color: var(--grey);
}

.basic-input::placeholder {
  font-weight: 400;
  color: var(--grey);
}

.basic-input:hover {
  -webkit-box-shadow: inset 2px 2px 0 rgba(178, 178, 178, 0.52), inset -2px -2px 0 rgba(178, 178, 178, 0.52), inset 2px -2px 0 rgba(178, 178, 178, 0.52), inset -2px 2px 0 rgba(178, 178, 178, 0.52);
          box-shadow: inset 2px 2px 0 rgba(178, 178, 178, 0.52), inset -2px -2px 0 rgba(178, 178, 178, 0.52), inset 2px -2px 0 rgba(178, 178, 178, 0.52), inset -2px 2px 0 rgba(178, 178, 178, 0.52);
}

.basic-input:focus {
  outline: none;
  -webkit-box-shadow: inset 2px 2px 0 rgba(46, 136, 228, 0.52), inset -2px -2px 0 rgba(46, 136, 228, 0.52), inset 2px -2px 0 rgba(46, 136, 228, 0.52), inset -2px 2px 0 rgba(46, 136, 228, 0.52);
          box-shadow: inset 2px 2px 0 rgba(46, 136, 228, 0.52), inset -2px -2px 0 rgba(46, 136, 228, 0.52), inset 2px -2px 0 rgba(46, 136, 228, 0.52), inset -2px 2px 0 rgba(46, 136, 228, 0.52);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */
.header {
  font-weight: 700;
  line-height: 18px;
  padding-top: 4px;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__button {
  color: var(--basic-white);
  background: var(--basic-white-20);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 16px;
  display: block;
  white-space: nowrap;
  cursor: pointer;
}

.header__button:focus, .header__button:hover {
  color: var(--basic-black);
  background: var(--basic-white);
  outline: none;
}

.header__button_full {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header__button_full:hover, .header__button_full:focus, .header__button_full:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header__button_empty {
  cursor: default;
}

.header__button_empty:focus, .header__button_empty:hover, .header__button_empty:active {
  cursor: default;
  background-color: var(--basic-white-20);
  color: var(--basic-white);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-nav__item {
  margin-right: 3px;
}

.header-nav__item_catalog {
  position: relative;
}

.header-nav__item_catalog ul {
  padding-bottom: 5px;
  padding-top: 2px;
}

.header-nav__link {
  color: var(--basic-white);
  display: block;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 14px;
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.2);
          text-decoration: underline rgba(255, 255, 255, 0.2);
}

.header-nav__link:focus, .header-nav__link:hover {
  color: var(--basic-black);
  background: var(--basic-white);
  border-radius: 26px;
}

.header-nav__link:active {
  background: var(--light-grey);
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
  border-radius: 26px;
}

.header-nav__link_active {
  background: var(--dark-red);
  border-radius: 26px;
  text-decoration: none;
}

.header-nav__link_active:hover, .header-nav__link_active:focus, .header-nav__link_active:active {
  background: var(--dark-red);
  color: var(--basic-white);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
}

.header-nav__link_catalog::before {
  position: absolute;
  content: "";
  display: block;
  background-color: transparent;
  height: 6px;
  width: 89px;
  bottom: -5px;
  left: 0;
}

.header-nav__logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
  margin-top: 5px;
  display: block;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-catalog {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  top: 36px;
  left: -7px;
}

.header-catalog:focus, .header-catalog:hover {
  display: block;
}

.header-catalog__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  width: 143px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 21px;
  padding-right: 10px;
  display: block;
}

.header-catalog__item:hover, .header-catalog__item:focus {
  background-color: var(--light-pink);
}

.header-catalog__item:active {
  background-color: var(--pink);
}

.header-catalog__item_active {
  background-color: var(--dark-red);
  color: var(--basic-white);
  cursor: default;
}

.header-catalog__item_active:hover, .header-catalog__item_active:focus, .header-catalog__item_active:active {
  background-color: var(--dark-red);
  color: var(--basic-white);
}

.header-catalog__item_new {
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 7px;
  position: relative;
}

.header-catalog__item_new::after {
  content: "";
  width: 128px;
  height: 0;
  border: 1px solid rgba(50, 50, 50, 0.2);
  position: absolute;
  bottom: -4px;
  left: 6px;
}

.header-nav__link_catalog:hover + .header-catalog,
.header-nav__link_catalog:focus + .header-catalog {
  display: block;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-actions li {
  position: relative;
}

.header-actions__item {
  margin-left: 10px;
  position: relative;
  margin-top: 19px;
  color: var(--basic-white);
  background: var(--basic-white-20);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 16px;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.header-actions__item::before {
  position: absolute;
  content: "";
  display: block;
  background-color: transparent;
  height: 6px;
  width: 92px;
  bottom: -5px;
  left: 0;
}

.header-actions__item:hover, .header-actions__item:focus {
  color: var(--basic-black);
  background: var(--basic-white);
  outline: none;
}

.header-actions__item_full {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header-actions__item_full:hover, .header-actions__item_full:focus, .header-actions__item_full:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header-actions__item_empty {
  cursor: default;
}

.header-actions__item_empty:focus, .header-actions__item_empty:hover, .header-actions__item_empty:active {
  cursor: default;
  background-color: var(--basic-white-20);
  color: var(--basic-white);
}

.header-actions__item_search {
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 7px;
}

.header-actions__item_search:focus path,
.header-actions__item_search:hover path {
  fill: var(--basic-black);
}

.header-actions__item_search::before {
  width: 35px;
}

.header-actions__item_signin path {
  fill: var(--basic-white);
}

.header-actions__item_signin:focus path,
.header-actions__item_signin:hover path {
  fill: var(--basic-black);
}

.header-actions__icon {
  position: absolute;
  top: 6px;
  left: 16px;
}

.header-search {
  display: none;
  position: absolute;
  z-index: 1;
  top: 55px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--lighten-grey);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.header-search:hover, .header-search:focus {
  display: block;
}

.header-actions__item_search:hover + .header-search,
.header-actions__item_search:focus + .header-search {
  display: block;
}

.header-actions__input {
  height: 44px;
  width: 241px;
  padding: 15px;
  font-size: 14px;
  line-height: 16px;
}

.header-actions__input_search {
  width: 311px;
}

.header-signin {
  display: none;
  position: absolute;
  top: 55px;
  right: 0px;
  z-index: 1;
  background-color: var(--lighten-grey);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-signin:hover, .header-signin:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-signin__item {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.header-signin__links {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.header-signin__link {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  -webkit-text-decoration: underline rgba(50, 50, 50, 0.3);
          text-decoration: underline rgba(50, 50, 50, 0.3);
  display: block;
  padding-top: 2px;
  padding-bottom: 5px;
}

.header-signin__link:hover, .header-signin__link:focus, .header-signin__link:active {
  color: var(--basic-red);
  -webkit-text-decoration: underline rgba(232, 77, 55, 0.3);
          text-decoration: underline rgba(232, 77, 55, 0.3);
}

.header-signin__button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 26px;
}

.header-actions__item_signin:hover + .header-signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-basket {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--lighten-grey);
  color: var(--basic-black);
  border-radius: 4px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  width: 539px;
  top: 55px;
  right: 0;
  padding-top: 17px;
  padding-right: 14px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.header-basket:hover, .header-basket:focus {
  display: block;
}

.header-basket__item {
  padding-bottom: 5px;
  padding-top: 10px;
  vertical-align: baseline;
}

.header-basket__item_text {
  width: 230px;
  padding-left: 9px;
}

.header-basket__item_scale {
  width: 130px;
  padding-left: 24px;
}

.header-basket__item_price {
  width: 70px;
  padding-left: 13px;
}

.header-basket__item_img {
  vertical-align: top;
  padding-top: 1px;
  padding-bottom: 13px;
}

.header-basket__cross {
  background-color: transparent;
  border: none;
}

.header-basket__cross:focus, .header-basket__cross:hover {
  cursor: pointer;
}

.header-basket__total {
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 21px;
  padding-right: 3px;
  text-align: right;
  position: relative;
}

.header-basket__total::before {
  content: "";
  display: block;
  position: absolute;
  width: 510px;
  height: 0px;
  border: 1px solid #CACAC7;
  top: 3px;
  left: 3px;
}

.header-basket__button {
  margin-bottom: 11px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 16px;
}

.header-actions__item_full:hover + .header-basket,
.header-actions__item_full:focus + .header-basket {
  display: block;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
  margin-top: 20px;
  display: block;
}

.header-contacts__tel {
  color: var(--basic-white);
  font-size: 22px;
  line-height: 24px;
  padding-top: 9px;
  display: block;
}

/* slider */
.slider {
  position: relative;
  margin-bottom: 40px;
}

.slider-item {
  margin: 0;
  padding: 0;
  padding-top: 235px;
  margin-bottom: 20px;
  text-align: center;
}

.slider-item__text {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  width: 670px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.slider-item__link {
  font-size: 32px;
  line-height: 44px;
  padding-top: 9px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-right: 40px;
  display: inline-block;
  max-width: 500px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  display: none;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
}

.slider__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: 1200px;
  height: 900px;
  top: -164px;
  left: -27px;
  background-repeat: no-repeat;
  background-position: top center;
}

.slider__item_active {
  display: block;
}

.slider__item_1::before {
  background-image: url(../img/slider/slider-1.png);
}

.slider__item_2::before {
  background-image: url(../img/slider/slider-2.png);
}

.slider__item_3::before {
  background-image: url(../img/slider/slider-2.png);
}

.slider-controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 27px;
  bottom: 23px;
}

.slider__button {
  width: 21px;
  height: 21px;
  display: block;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.slider__button:focus, .slider__button:hover {
  background: var(--basic-white-40);
  outline: none;
}

.slider__button:active {
  background: var(--basic-white);
}

.slider__button_active {
  background: var(--basic-white);
}

.slider__button_active:focus, .slider__button_active:hover {
  background: var(--basic-white);
  cursor: default;
}

/* gifts */
.gift {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 229px;
  border-radius: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px;
  padding-bottom: 22px;
}

.gift__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.gift__text {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  margin-bottom: 42px;
}

.gift_raspberry {
  background-image: url(../img/index/raps_bg.jpg);
  background-color: var(--dark-pink);
}

.gift_chocolate {
  background-image: url(../img/index/choco_bg.jpg);
  background-repeat: no-repeat;
  background-color: var(--dark-brown);
}

.gift__button {
  padding-top: 17px;
  padding-left: 23px;
  padding-bottom: 15px;
  padding-right: 22px;
}

/* hits */
.catalog-item_hit {
  position: relative;
  margin-bottom: 4px;
}

.catalog-item_hit::before {
  content: "";
  display: block;
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url(../img/index/hit.svg);
  background-repeat: no-repeat;
}

/* advantages */
.advantages {
  color: var(--basic-black);
  background-image: url(../img/adv/pattern.png);
  background-repeat: repeat;
  background-color: var(--beige);
  border-radius: 16px;
  padding-top: 24px;
  padding-right: 14px;
  padding-bottom: 17px;
}

.advantages-wrapper {
  padding-bottom: 40px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  padding: 0;
  margin: 0;
  position: relative;
  padding-left: 75px;
  padding-top: 9px;
  padding-bottom: 13px;
  padding-right: 10px;
  display: block;
}

.advantages__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  top: 0px;
  left: 20px;
}

.advantages__item_production::before {
  background-image: url(../img/adv/ice-cream.svg);
}

.advantages__item_purchase::before {
  background-image: url(../img/adv/cow.svg);
}

.advantages__item_natural::before {
  background-image: url(../img/adv/eco.svg);
}

.advantages__item_delivery::before {
  background-image: url(../img/adv/thermometer.svg);
}

.advantages__overview {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  padding-left: 20px;
}

/* news */
.news {
  background-image: url(../img/index/str_bg.jpg);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: top left;
  color: var(--basic-black);
  min-height: 220px;
  border-radius: 16px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.news__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

.news__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: underline;
  display: block;
  max-width: 285px;
  padding: 0;
  margin: 0;
}

.news__item:focus, .news__item:hover {
  color: var(--basic-red);
}

/* subscription */
.subscription {
  background-color: var(--lighten-grey);
  color: var(--dark-grey);
  border-radius: 16px;
  min-height: 210px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 16px;
  padding-bottom: 36px;
}

.subscription-wrapper {
  background-image: url(../img/index/bg-post.svg);
  background-size: cover;
  border-radius: 16px;
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 5px;
}

.subscription__offer {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.subscription__email {
  height: 44px;
  width: 368px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  background-color: var(--basic-white);
  padding-top: 17px;
  padding-right: 15px;
  padding-left: 13px;
  padding-bottom: 15px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.subscription__button {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 20px;
  margin-left: 6px;
}

/* map */
.map {
  height: 430px;
  background-image: url(../img/index/map.jpg);
}

.map__frame {
  width: 100%;
  height: 430px;
  border: none;
}

.map-contacts {
  position: absolute;
  bottom: 68px;
  right: 27px;
  background: var(--basic-white);
  border-radius: 16px;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 20px;
  width: 303px;
  padding-top: 29px;
  padding-left: 25px;
  padding-bottom: 31px;
  padding-right: 23px;
  margin-left: auto;
  margin-right: 0;
}

.map-contacts__address {
  font-style: normal;
  margin-bottom: 21px;
}

.map-contacts__bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  display: block;
}

.map-contacts__tel {
  padding-top: 3px;
}

.map__text {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
}

.map__button {
  padding-top: 14px;
  padding-left: 28px;
  padding-bottom: 13px;
  padding-right: 29px;
}

/* feedback */
.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--lighten-grey);
  border-radius: 4px;
  color: var(--basic-black);
  font-size: 24px;
  line-height: 28px;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 25px;
  padding-bottom: 24px;
  width: 477px;
  min-height: 441px;
}

.feedback__item {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.feedback__text {
  padding: 0;
  margin: 0;
  font-weight: 500;
  margin-bottom: 20px;
}

.feedback__input {
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 14px;
  padding-right: 14px;
  width: 267px;
}

.feedback__input_text {
  resize: none;
  width: 428px;
  height: 154px;
}

.feedback__button {
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.feedback__cross {
  position: absolute;
  display: block;
  width: 18px;
  height: 17px;
  top: 14px;
  right: 18px;
  border: none;
  background-image: url(../img/index/cross-big.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.feedback__cross:hover, .feedback__cross:focus {
  outline: none;
  cursor: pointer;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* footer */
.footer {
  padding-top: 19px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav {
  font-size: 13px;
  line-height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 142px 170px;
      grid-template-columns: 142px 170px;
}

.footer-nav__link {
  display: block;
  padding-left: 6px;
  padding-bottom: 5px;
}

.footer-nav__link_withheard {
  font-weight: 700;
  position: relative;
}

.footer-nav__link_withheard::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -17px;
  background-image: url(../img/footer/heart.svg);
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 13px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  padding-left: 90px;
}

.footer-copyright__text {
  padding: 0;
  margin: 0;
  padding-top: 2px;
}

.social {
  padding-top: 15px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social__item {
  width: 36px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 80%;
  margin-right: 8px;
}

.social__item:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
  outline: none;
}

.social__link {
  width: 34px;
  height: 34px;
  display: block;
  opacity: 80%;
  background-repeat: no-repeat;
}

.social__link_fb {
  background-image: url(../img/footer/fb.svg);
}

.social__link_vk {
  background-image: url(../img/footer/vk.svg);
}

.social__link_inst {
  background-image: url(../img/footer/instagram.svg);
}

.social__link_twitter {
  background-image: url(../img/footer/twitter.svg);
}

.social__link:focus, .social__link:hover {
  opacity: 100%;
}

/* catalog */
/* breadcrumbs */
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -66px;
}

.breadcrumbs__item {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.breadcrumbs__item::after {
  content: "";
  display: inline-block;
  vertical-align: center;
  background-image: url(../img/catalog/arrow-right.svg);
  background-repeat: no-repeat;
  width: 6px;
  height: 6px;
  margin-left: 8px;
  margin-right: 8px;
}

.breadcrumbs__item_active:focus, .breadcrumbs__item_active:hover {
  color: var(--basic-white);
}

.breadcrumbs__item_active::after {
  display: none;
}

/* filter */
.filter {
  margin-bottom: 28px;
}

.filter-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.filter__item {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 12px;
}

.filter__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 7px;
}

.filter__input {
  background: var(--basic-white-20);
  border: none;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 19px;
}

.filter__sort {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-right: 35px;
}

.filter__sort:focus, .filter__sort:hover {
  outline: none;
}

.filter__button {
  background: var(--basic-white-20);
  -webkit-box-shadow: inset 2px 2px 0 #FFFFFF, inset -2px -2px 0 #FFFFFF, inset 2px -2px 0 #FFFFFF, inset -2px 2px 0 #FFFFFF;
          box-shadow: inset 2px 2px 0 #FFFFFF, inset -2px -2px 0 #FFFFFF, inset 2px -2px 0 #FFFFFF, inset -2px 2px 0 #FFFFFF;
  border: none;
  border-radius: 20px;
  color: var(--basic-white);
  padding-top: 9px;
  padding-left: 28px;
  padding-bottom: 9px;
  padding-right: 30px;
}

.filter__button:focus, .filter__button:hover {
  outline: none;
  background: var(--basic-white);
  color: var(--basic-black);
}

.filter__button:active {
  border: none;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.sort-wrapper {
  position: relative;
  color: var(--basic-white);
}

.sort-wrapper::after {
  content: "";
  background-image: url(../img/form/select-arrow_white.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  position: absolute;
  display: block;
  bottom: 13px;
  right: 14px;
}

.sort-wrapper:focus, .sort-wrapper:hover {
  outline: none;
  color: var(--basic-black);
}

.sort-wrapper:focus::after, .sort-wrapper:hover::after {
  background-image: url(../img/form/select-arrow_black.svg);
}

.filter-price {
  padding-top: 8px;
}

.filter-price__title {
  margin-bottom: 6px;
}

.filter-price__number {
  width: 27px;
  border: none;
  background-color: transparent;
  color: var(--basic-white);
}

.filter-price__number:focus, .filter-price__number:hover {
  outline: none;
}

.filter-price__range {
  padding-top: 16px;
  padding-left: 21px;
  padding-bottom: 18px;
  padding-right: 21px;
  width: 218px;
}

.filter-price__scale {
  position: relative;
  width: 176px;
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.filter-price__bar {
  height: 0px;
  border: 1px solid #F8F7F4;
  margin-left: 24px;
  width: 55%;
}

.filter-price__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  background-color: var(--light-green);
  bottom: -10px;
}

.filter-price__toggle:hover, .filter-price__toggle:focus {
  cursor: pointer;
  outline: none;
  border: 9px solid #FFFFFF;
  width: 22px;
  height: 22px;
  bottom: -11px;
}

.filter-price__toggle_min {
  left: 8%;
}

.filter-price__toggle_max {
  left: 63%;
}

.filter-radio {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 5px;
}

.filter-radio__label {
  padding-left: 41px;
  margin-right: 12px;
  position: relative;
}

.filter-radio__label:hover, .filter-radio__label:focus {
  cursor: pointer;
  opacity: 100%;
}

.filter-radio__label:hover::before, .filter-radio__label:focus::before {
  opacity: 100%;
}

.filter-radio__label::before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/form/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 80%;
  top: -3px;
  left: 8px;
}

.filter-radio__input:checked + label::before {
  background-image: url(../img/form/radio-on.svg);
}

.filter-radio__input:disabled + label::before {
  opacity: 40%;
}

.filter-checkbox {
  padding-left: 6px;
  padding-right: 7px;
}

.filter-checkbox__title {
  margin-bottom: 10px;
}

.filter-checkbox__label {
  padding-left: 42px;
  margin-right: 14px;
  position: relative;
}

.filter-checkbox__label:hover, .filter-checkbox__label:focus {
  cursor: pointer;
  opacity: 100%;
}

.filter-checkbox__label:hover::before, .filter-checkbox__label:focus::before {
  opacity: 100%;
}

.filter-checkbox__label::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url(../img/form/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 80%;
  top: 1px;
  left: 9px;
}

.filter-checkbox__input:checked + label::before {
  background-image: url(../img/form/checkbox-on.svg);
}

.filter-checkbox__input:disabled + label::before {
  opacity: 40%;
}

/* catalog */
.catalog-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  margin-bottom: 17px;
}

.catalog-item {
  padding-bottom: 37px;
  position: relative;
}

.catalog-item::after {
  content: "";
  display: none;
  position: absolute;
  height: calc(100% + 42px);
  width: calc(100% + 26px);
  background-color: var(--basic-white-20);
  top: -6px;
  left: -13px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.catalog-item:focus, .catalog-item:hover {
  z-index: 1;
}

.catalog-item:focus::after, .catalog-item:hover::after {
  display: block;
}

.catalog-item__price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  padding: 0;
  margin: 0;
  margin-top: -64px;
}

.catalog-item__price-small {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.catalog-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.catalog-item__img {
  border-radius: 50%;
}

.catalog-item__button {
  position: absolute;
  padding-top: 14px;
  padding-left: 16px;
  padding-bottom: 14px;
  padding-right: 17px;
  bottom: -15px;
  left: 33px;
  z-index: 1;
  display: none;
}

.catalog-item:hover .catalog-item__button,
.catalog-item:focus .catalog-item__button {
  display: block;
}

/* pages */
.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  position: relative;
}

.pages::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  bottom: 0px;
}

.pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 11px;
  padding-left: 10px;
}

.pages__item {
  color: var(--basic-white);
  line-height: 18px;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

.pages__item:focus, .pages__item:hover {
  background-color: var(--basic-white-20);
}

.pages__item:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.pages__item_active {
  background: var(--basic-white);
  color: var(--basic-black);
}

.pages__item_active:focus, .pages__item_active:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}

.pages__button {
  background-color: transparent;
  border: none;
  width: 7px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center right;
}

.pages__button:focus, .pages__button:hover {
  outline: none;
  cursor: pointer;
}

.pages__button_back {
  background-image: url(../img/catalog/icon-right-small.svg);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.pages__button_forward {
  background-image: url(../img/catalog/icon-right-small.svg);
}

.pages__button_disabled {
  opacity: 20%;
}

.pages__button_disabled:hover, .pages__button_disabled:focus {
  cursor: default;
}
