/* Variables */
:root {
  --basic-black: #323232;
  --basic-white: #ffffff;
  --light-light-grey: #EDEDED;
  --basic-red: #e84d37;
  --dark-red: #D07058;
  --basic-red-light: #FFBC9E;
  --light-green: #849D8F;
  --light-blue: #8996A6;
  --basic-brown: #9D8B84;
  --beige: #F8F7F4;
  --dark-grey: #5a5a5a;
  --basic-white-20: rgba(255, 255, 255, 0.2);
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--light-green);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.button-red {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 50px;
}
.button-red:focus, .button-red:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}
.button-red:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.link-white {
  color: var(--basic-white);
}
.link-white:focus, .link-white:hover {
  color: var(--basic-red-light);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */
.header {
  font-weight: 700;
  line-height: 18px;
}
.header__link {
  color: var(--basic-white);
}
.header__link:focus, .header__link:hover {
  color: var(--basic-black);
  background: var(--basic-white);
  border-radius: 26px;
}
.header__link:active {
  background: var(--light-light-grey);
  box-shadow: inset 0 2px 1px #696969;
  border-radius: 26px;
}
.header__link_active {
  background: var(--dark-red);
  border-radius: 26px;
}
.header__link_active:hover, .header__link_active:focus, .header__link_active:active {
  background: var(--dark-red);
  color: var(--basic-white);
  box-shadow: none;
  cursor: default;
}
.header__button {
  color: var(--basic-white);
  background: var(--basic-white-20);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 20px;
}
.header__button:focus, .header__button:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}
.header-catalog {
  display: none;
}
.header-search {
  display: none;
}
.header-signin {
  display: none;
}
.header-actions__backet_full {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.header-backet {
  display: none;
}
.header-contacts {
  font-size: 14px;
  line-height: 16px;
}
.header-contacts__tel {
  color: var(--basic-white);
  font-size: 22px;
  line-height: 24px;
}

/* advantages */
.advantages {
  background-image: url("../img/adv/pattern.png");
  background-repeat: repeat;
  background-color: #f5f5dc;
  color: var(--basic-black);
}
.advantages__overview {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

/* news */
.news {
  background-image: url(../img/index/str_bg.jpg);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: top left;
  color: var(--basic-black);
}
.news__title {
  font-weight: 500;
}
.news__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: underline;
}
.news__item:focus, .news__item:hover {
  color: var(--basic-red);
}

/* subscription */
.subscription {
  background-color: var(--beige);
  color: var(--dark-grey);
}

/* feedback */
.feedback {
  display: none;
}

/* footer */
.footer-nav {
  font-size: 13px;
  line-height: 18px;
}
.footer-nav__list {
  list-style: none;
}
.footer-nav__link_withheard {
  font-weight: 700;
}
.footer-nav__link_withheard::before {
  content: "";
  background-image: url(../img/footer/heart.svg);
  background-repeat: no-repeat;
  display: block;
  width: 15px;
  height: 13px;
}
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.social__list {
  list-style: none;
}
.social__link {
  width: 32px;
  height: 32px;
  display: block;
}
.social__link_fb {
  background-image: url(../img/footer/fb.svg);
}
.social__link_vk {
  background-image: url(../img/footer/vk.svg);
}
.social__link_inst {
  background-image: url(../img/footer/instagram.svg);
}
.social__link_twitter {
  background-image: url(../img/footer/twitter.svg);
}

/* catalog */
/* breadcrumbs */
.breadcrumbs {
  list-style: none;
}
.breadcrumbs__item {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}
.breadcrumbs__item:focus, .breadcrumbs__item:hover {
  color: var(--basic-red-light);
}
.breadcrumbs__item_active:focus, .breadcrumbs__item_active:hover {
  color: var(--basic-white);
}

.catalog__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
.catalog-item__price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item__price-small {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.catalog-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
